real_ip_header CF-Connecting-IP;
set_real_ip_from 103.21.244.0/22;
set_real_ip_from 103.22.200.0/22;
set_real_ip_from 103.31.4.0/22;
set_real_ip_from 104.16.0.0/12;
set_real_ip_from 108.162.192.0/18;
set_real_ip_from 131.0.72.0/22;
set_real_ip_from 141.101.64.0/18;
set_real_ip_from 162.158.0.0/15;
set_real_ip_from 172.64.0.0/13;
set_real_ip_from 173.245.48.0/20;
set_real_ip_from 188.114.96.0/20;
set_real_ip_from 190.93.240.0/20;
set_real_ip_from 197.234.240.0/22;
set_real_ip_from 198.41.128.0/17;
set_real_ip_from 199.27.128.0/21;

<% site_aliases.each do |site_alias|%>
	server {
		server_name <%= site_alias %>;
		<% if exists?(:ssl_required) and ssl_required && stage == :live %>
			server_name <%= ip_address %>;
			<% if exists?(:default_ssl_host) && default_ssl_host %>
			listen 443 default_server ssl;
			<% else %>
			listen 443 ssl;
			<% end %>
			ssl_certificate	/etc/nginx/ssl/<%= primary_domain %>.crt;
			ssl_certificate_key	/etc/nginx/ssl/<%= primary_domain %>.key;
			ssl_prefer_server_ciphers On;
			ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
			ssl_ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS;
		<% end %>
		listen 80;
		return 301 $scheme://<%= primary_domain %>$request_uri;
	}
<% end %>

<% if exists?(:url_rewrites) %>
	<% url_rewrites.each do |regex, target| %>
		server {
			server_name <%= regex %>;
			return 301 $scheme://<%= primary_domain %><%= target %>;
		}
	<% end %>
<% end %>

server {
	server_name <%= ((server_aliases.split(" ")) - site_aliases).join(" ") %>;
	listen   	80;

	<% if exists?(:nginx_custom_rules) %>
		<% nginx_custom_rules.each do |rule|%>
			<%= rule %>
		<% end %>
	<% end %>
	
	access_log  /var/log/nginx/<%= primary_domain %>.access.log;
	error_log  /var/log/nginx/<%= primary_domain %>.error.log;
	root   <%= deploy_to %>/current/public;

<% if exists?(:basic_auth_required) and basic_auth_required %>
	auth_basic "<%= basic_auth_realm %>";
	auth_basic_user_file <%= shared_path %>/.htpasswd;
	location ~ favicon.png {
		auth_basic off;
	}
	location ~ icon-homescreen.png {
		auth_basic off;
	}
<% end %>

    # enable gzip compression
    gzip  on;
    gzip_http_version 1.1;
    gzip_vary on;
    gzip_comp_level 1;
    gzip_proxied any;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_min_length 1100;

    # make sure gzip does not lose large gzipped js or css files - see http://blog.leetsoft.com/2007/7/25/nginx-gzip-ssl
    gzip_buffers 16 8k;

    # Disable gzip for older browsers that don't support it
    gzip_disable “MSIE [1-6].(?!.*SV1)”;


<% if exists?(:ssl_required) and ssl_required && stage == :live %>
	server_name <%= ip_address %>;
	<% if exists?(:default_ssl_host) && default_ssl_host %>
	listen 443 default_server ssl;
	<% else %>
	listen 443 ssl;
	<% end %>
	ssl_certificate	/etc/nginx/ssl/<%= primary_domain %>.crt;
	ssl_certificate_key	/etc/nginx/ssl/<%= primary_domain %>.key;
	ssl_prefer_server_ciphers On;
	ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
	ssl_ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS;
		<% if exists?(:force_ssl) and force_ssl %>
		if ($server_port = 80) {
			return 301 https://$host$request_uri;
		}
		<% end %>
<% end %>



	# Add trailing slash to */wp-admin requests.
	rewrite /wp-admin$ $scheme://$host$uri/ permanent;

	location = /favicon.ico {
		log_not_found off;
		access_log off;
	}

	# Deny all attempts to access hidden files such as .htaccess, .htpasswd, .DS_Store (Mac).
	location ~ /\. {
		deny all;
		access_log off;
		log_not_found off;
	}

<% if exists?(:requires_php) and requires_php %>
	location / {
		try_files $uri $uri/ /index.php?$args;
	}
	
	index  index.php index.html index.htm;
	location ~ \.php$ {
		try_files $uri =404;	
		include        fastcgi_params;
		<% if exists?(:ssl_required) and ssl_required && stage == :live %>
		#this isn't ideal because it'll report HTTPS on when it isn't.
		#need to check port too.
		fastcgi_param HTTPS                 on; 
		fastcgi_param SSL_PROTOCOL          $ssl_protocol;
		fastcgi_param SSL_CIPHER            $ssl_cipher;
		fastcgi_param SSL_SESSION_ID        $ssl_session_id;
		fastcgi_param SSL_CLIENT_VERIFY     $ssl_client_verify;
		<% end %>
		fastcgi_pass   unix:/var/run/php5-www.sock;
		fastcgi_param  PHP_VALUE	"newrelic.appname=<%= primary_domain %>";
		fastcgi_index  index.php;
		fastcgi_buffer_size 128k;
		fastcgi_buffers 4 256k;
		fastcgi_busy_buffers_size 256k;
	}
<% elsif exists?(:requires_passenger) and requires_passenger %>
    location / {
        if ($args ~* "domain_redirected=(.*)$") {
            add_header X-domain-redirected $1;
        }
        proxy_pass http://127.0.0.1:<%= passenger_port %>;
        proxy_read_timeout 3m;
        proxy_set_header  X-Real-IP  $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
		proxy_set_header X-Forwarded-Proto $scheme;
    }
<% else %>
	index  index.html index.htm;
<% end %>
}
