<?php  if (!defined('SITE')) exit('No direct script access allowed');

$indx['db'] 		= '<%= db_name %>';
$indx['user'] 		= '<%= db_user %>';
$indx['pass'] 		= '<%= db_password %>';
$indx['host'] 		= '<%= private_db_server %>';
$indx['sql']		= 'mysql';

?>
