<?php
/**
 * The base configurations of the WordPress.
 *
 * This file has the following configurations: MySQL settings, Table Prefix,
 * Secret Keys, WordPress Language, and ABSPATH. You can find more information
 * by visiting {@link http://codex.wordpress.org/Editing_wp-config.php Editing
 * wp-config.php} Codex page. You can get the MySQL settings from your web host.
 *
 * This file is used by the wp-config.php creation script during the
 * installation. You don't have to use the web site, you can just copy this file
 * to "wp-config.php" and fill in the values.
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '<%= wp_db_name %>');

/** MySQL database username */
define('DB_USER', '<%= wp_db_user %>');

/** MySQL database password */
define('DB_PASSWORD', '<%= wp_db_password %>');

/** MySQL hostname */
<% if use_private_mysql_ip %>
define('DB_HOST', '<%= db_server.gsub(".hosts.",".prv.") %>:<%= mysql_port %>');
<% else  %>
define('DB_HOST', '<%= db_server %>');
<% end %>

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
<%= secret_keys %>

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each a unique
 * prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = '<%= exists?(:wp_table_prefix) ? wp_table_prefix : "epedeces_" %>';

/**
 * WordPress Localized Language, defaults to English.
 *
 * Change this to localize WordPress. A corresponding MO file for the chosen
 * language must be installed to wp-content/languages. For example, install
 * de_DE.mo to wp-content/languages and set WPLANG to 'de_DE' to enable German
 * language support.
 */
define('WPLANG', '');

//check for https and set the site url and home appropriately
if ('443' == $_SERVER['SERVER_PORT'] && 'on' == strtolower($_SERVER['HTTPS'])) {
  //we have ssl
  define('WP_SITEURL', 'https://' . $_SERVER['HTTP_HOST']);
  define('WP_HOME', 'https://' . $_SERVER['HTTP_HOST']);
} else {
  define('WP_SITEURL', 'http://' . $_SERVER['HTTP_HOST']);
  define('WP_HOME', 'http://' . $_SERVER['HTTP_HOST']);
}

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', '<%="#{current_path}/public/"%>');

/** include the composer Autoloader */
require_once(ABSPATH."vendor/autoload.php");

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');



