# Upstart: /etc/init/<%= application %>-<%= rails_env %>-passenger.conf
description "start passenger stand-alone for <%= application %> <%= rails_env %>"
author "Error Creative Studio <hosting@errorstudio.co.uk>"

# When to start the service
start on runlevel [2345]

# When to stop the service
stop on runlevel [!2345]

# Automatically restart process if crashed
respawn
expect fork

#env HOME="/home/deployment"


script
    cd <%= current_path %>;
    /usr/local/rvm/wrappers/<%= rvm_ruby_string %>/passenger start -p <%= passenger_port %> -e <%=  rails_env %>;
end script

